.Home {
    height: 100vh;
    width: 100vw;
    position: fixed;
    margin: 0;
    padding: 0;
    display: flex;

}

.left-background, .right-background  {
    height: 100%;
    width: 12%;
    flex-shrink: 0;
    background-image: url("../public/images/side_panels.png");
    background-size: 250%;
    background-position: center;
}

.center-background {
    height: 100%;
    width: 76%;
    position: relative;
    background-image: url("../public/images/cafe_background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.coffee-shelf {
    position:fixed;
    top: 25%;
    right: 12%;
    height: auto;
    width: 17%;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.coffee-shelf-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    z-index: 1;

    position: relative;
}

.socials-buttons {
    border: none;
    background: none;
    width: 33%;

    margin: 0;
    padding: 0;
}

.socials-buttons:hover, .resume-frame-button:hover {
    scale: 1.5;
}

.socials-img, .resume-frame-img {
    height: auto;
    width: 100%;
    display: block;
    object-fit: contain;

    scale: 1.25;
}

.coffee-buttons  {
    position: absolute;
    bottom: 50%;   
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2;

  }


.barista {
    position: absolute;
    height: auto;
    width: 100%;

    bottom: 0;
    left: 0;
}

.barista-img {
    width: 100%;
    display: block;
    object-fit: contain;
}


.resume-box {
    position: absolute;
    top: 29%;
    left: 83%;

    width: 12%;
    height: 20%;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.resume-frame-button {
    border: none;
    background: none;
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;
}

.resume-frame-img {
    height: 80%;
}